﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Uge38.Models.User

@{

    <fieldset>

        @using (Html.BeginForm())
        {
            <table>

                <tr>
                    <td>@Html.LabelFor(x => x.Name)</td>
                    <td>@Html.EditorFor(x => x.Name)</td>
                </tr>
                <tr>
                    <td>@Html.ValidationMessageFor(x => x.Name)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(x => x.Address)</td>
                    <td>@Html.EditorFor(x => x.Address)</td>
                </tr>
                <tr>
                    <td>@Html.ValidationMessageFor(x => x.Address)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(x => x.Email)</td>
                    <td>@Html.EditorFor(x => x.Email)</td>
                </tr>
                <tr>
                    <td>@Html.ValidationMessageFor(x => x.Email)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(x => x.Password)</td>
                    <td>@Html.EditorFor(x => x.Password)</td>
                    <td>@Html.ValidationMessageFor(x => x.Password)</td>
                </tr>
                

                <tr>
                    <td>@Html.LabelFor(x => x.IsAdmin)</td>
                    <td>@Html.EditorFor(x => x.IsAdmin)</td>
                </tr>
                <tr>
                    <td>@Html.ValidationMessageFor(x => x.IsAdmin)</td>
                </tr>

            </table>
        <button type="submit">Submit</button>
        }

    </fieldset>

}
