﻿
@{
    ViewData["Title"] = "EditUser";
}

@model Uge38.Models.User

<h1>EditUser</h1>

@using (Html.BeginForm())
{

    <table>
        <tr>
            <td>@Html.LabelFor(x => x.Name)</td>
            <td>@Html.EditorFor(x => x.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Address)</td>
            <td>@Html.EditorFor(x => x.Address)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Email)</td>
            <td>@Html.EditorFor(x => x.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Password)</td>
            <td>@Html.EditorFor(x => x.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.IsAdmin)</td>
            <td>@Html.EditorFor(x => x.IsAdmin)</td>
        </tr>
    </table>
    <button type="submit">Save</button>
}
