﻿
@{
    ViewData["Title"] = "Index";
}

@model Uge38.Models.User[]

<h1>Brugere</h1>

<table class="blueTable">

    <tr>
        <th>Name</th>
        <th>Adress</th>
        <th>Email</th>
        <th>Password</th>
        <th>IsAdmin</th>
    </tr>
    @foreach (User user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Address</td>
            <td>@user.Email</td>
            <td>@user.Password</td>
            <td>@user.IsAdmin.ToString()</td>
            <td><a href="@Url.Action("EditUser", "Home", new { id = user.Id })">Edit</a></td>
        </tr>
    }
</table>

<button onclick="location.href='@Url.Action("CreateUser", "Home")'">New User</button>